* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.modal-FP-land {
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}

.modal-FP-content {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 10%; */
  margin: auto;
  width: 100%;
}

.modal-FP-content div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.modal-FP-content img {
  max-height: 59vh;
  width: 100%;
  object-fit: cover;
}

.modal-FP-land header {
  /* flex: 0 0 8vh; */
  height: 100px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-title {
  margin: auto;
  color: #444;
  font-weight: 600;
}

.modal-FP-land footer {
  /* flex: 0 0 8vh;
  min-height: 55px; */
  height: 100px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 10%;

}

.btn_pdf {
  margin: 0 auto;
}

.btn-close-FP-lands {
  float: right;
  margin-right: 5%;
}

a {
    text-decoration: none;
}

.site-logo-title {
height: 80%;
}

@media (max-aspect-ratio: 3/4) {
  .modal-FP-content {
      flex-direction: column;
      padding: 0;
      width: 50%;
    }
  
    .modal-FP-content img {
      max-width: 80%;
    }
}

    @media screen and (min-device-width: 374px) 
    and (min-device-height: 374px) 
    and (-webkit-min-device-pixel-ratio: 2.0)  {
      .header-title{font-size: 1.5rem;}
      .modal-FP-land footer {
        display: none;
      }

            .modal-FP-land header {
              height: 60px;
            }
    }

  @media screen and (min-device-width: 666px) 
  and (min-device-height: 374px) 
  and (-webkit-min-device-pixel-ratio: 2.0) 
  and (orientation: landscape) {
    .site-logo-title{display: none;}
  }

    @media screen and (min-device-width: 374px) 
    and (min-device-height: 666px) 
    and (-webkit-min-device-pixel-ratio: 2.0) 
    and (orientation: portrait) {
      .site-logo-title {
        display: none;
      }
    }