:root {
  --bg: #EFEFEF;
  --card-bg: #FFFFFF;
  --row-bg: #F8F8F8;
  --txt-grey: #7A7A7A;
  --txt-dark: #444444;
}

* {
  box-sizing: border-box;
}
body,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--txt-dark);
}

.main-container {
  background-color: var(--bg);
}

.mid-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.box-logo{
  height: 200px;
  display: flex;
}
.footer{
  height: 100px;
  position: relative;
}

.box-logo > img{
  width: 306px;
  height: 72px;
  margin: auto;
}

.box {
  background-color: var(--card-bg);
  /* height: 654px; */
  margin: 24px 0;
  border-radius: 14px;
  overflow: hidden;
}
.box.image {
display: flex;
}

.title-site {
  font-size: 40px;
}

.infobox{
display: flex;
width: 40%;
}

.box-info-specs {
  color: var(--txt-grey);
  font-size: 25px;
}

.info {
  margin: auto;
  width: 310px;
}

.imagebox {
  position: relative;
  height: 654px;
  width: 60%;
  max-width: 872px;
}
.layers {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-info-specs {
  display: flex;
  justify-content: space-between;
  line-height: 200%;
}
.box-info-specs .info-spec-bold {
  font-weight: 700;
}

.modal-FP-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

/* FLOOR PLAN */

.fp-filler {
  height: 50px;
}

.modal-FP-content div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.modal-FP-content * p {
  font-size: 25px;
  font-weight: 600;
  padding-top: 3%;
}
.modal-FP-content img {
  /* max-height: 59vh; */
  width: 100%;
  max-width: 590px;
  object-fit: cover;
}

/* Summary */

.box.summary {
  /* height: 980px; */
  display: flex;
  flex-direction: column;
}

.sum-tables {
  display: flex;
}

.table {
  flex-grow: 1;
  overflow: auto;
  margin: 5% 5%;
}

/* .sum-category {
  maxwidth: 600px;
} */

.catetory-title{
  display: flex;
  align-items: center;
}

.icon-box {
  height: 55px;
  width: 55px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 20px;
}
img.material {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.material {
  height: 55px;
  width: 55px;
  background-color: var(--bg);
  margin-right: 20px;
  border-radius: 8px; 
}

.row {
  display: flex;
  background-color: var(--row-bg);
  justify-content: space-evenly;
}

.row div {
  flex: 1;
}

.bloc {
  margin-left: 60px;
}

.bloc div:nth-child(even).row{
  background-color: #fff;
}

.btns {
  width: 90px;
  height: 30px;
  flex-shrink: 0;
  margin: 0 5px;
  cursor: pointer;

  color: var(--txt-dark);
  /* background-color: rgba(red, green, blue, alpha); */
  border: none;
  border-radius: 3px;

  font-size: 15px;
  font-style: normal;
  line-height: normal;
  border: #444444 solid 1px;
}

.pos-header {
  position: absolute;
  top: 30px;
  right: 30px;
}

.pos-footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.download {
  background-color: #4A98F3;
  border: none;
  color: var(--bg);
  width: 150px;
  font-size: 15px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.share {
  position: absolute;
  left: 210px;
  bottom: 30px;
}

.blue-btns:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.price-box {
display: flex;
flex-direction: row-reverse;
}

.pos-box-price {
  width: 500px;
}

.price {
  font-size: 45px;
  line-height: 0%;
}
.price span {
font-weight: 600;
}
.disclimer {
  color: var(--txt-grey);
  line-height: 100%;
  width: 330px;
}

.nav-mobile {
  display: none;
  justify-content: space-evenly;
  flex-shrink: 0;
  z-index: 1;
  width: 100%;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;

  background-color: rgba(255, 255, 255, 0.75); 
}

.nav-buttons {
  border: none;
  background-color: rgba(51, 51, 51, 0.00);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-buttons span {
  color: #A4A4A4;
  font-size: 8px;
}

.activeNavIcon span,
.activeNavIcon rect,
.activeNavIcon path{
  color: #444444;
  font-weight: 700;
  stroke: #444444;
}

@media screen and (min-device-width: 666px) 
  and (min-device-height: 374px) 
  and (-webkit-min-device-pixel-ratio: 2.0)
  and (orientation: landscape) {
    .box {
      min-height: 500px;
      width: 95%;
      
    }

    .box-logo {min-height: 120px;}

    .box.image {
      /* flex-direction: column; */
    }

    .imagebox {
      height: auto;
    }

    .info {
      width: 90%;
    }

    .title-site {
      font-size: 30px;
    }

    .box-info-specs {
      color: var(--txt-grey);
      font-size: 18px;
    }

    .main-container {
      display: flex;
      flex-direction: row;
      max-height: 100vh;
    }
    .mid-container {
      max-height: 100vh;
      overflow: auto;
      align-items: center;
    }

    .box.fp {
      min-height: 600px;
    }

    .modal-FP-content img {

    }

    .box.summary {
      min-height: 950px;
    }

    .nav-mobile {
      /* position: fixed;
      right: 0;
      top: 0; */
      display: flex;
      flex-direction: column;
      width: 60px;
      max-height: 100vh;
    }

  }

  @media screen and (min-device-width: 374px) 
  and (min-device-height: 666px) 
  and (-webkit-min-device-pixel-ratio: 2.0) 
  and (orientation: portrait) {

    .box {
      display: flex;
      flex-direction: column;
    }

    .box-logo {
      height: 140px;
  }

    .mid-container {
      width: 90%;
    }

    .imagebox {
      height: 300px;
      width: 100%;
    }

    .info {
      margin: 5% auto;
    }

    .infobox {
      width: 100%;
    }

    .title-site {
      font-size: 30px;
    }

    .box-info-specs {
      color: var(--txt-grey);
      font-size: 18px;
    }

    .modal-FP-content {
      flex-direction: column;
    }

    .box.summary {
      margin-bottom: 75px;
    }

    .sum-tables {
      flex-direction: column;
    }

    .pos-box-price {
      width: auto; 
  }

    .price {
      font-size: 35px;
      line-height: 0%;
    }
    .price span {
    font-weight: 600;
    }

    .price-box {
      justify-content: center;
    }

    .nav-mobile {
      z-index: 1;
      width: 100%;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-evenly;
      background-color: #ffffff;
    }
    .footer, .pos-header {display: none; }
  }

  