:root {
  --bg: #EFEFEF;
  --card-bg: #FFFFFF;
  --row-bg: #F8F8F8;
  --txt-grey: #7A7A7A;
  --txt-dark: #444444;
}

* {
  box-sizing: border-box;
}
body,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: var(--txt-dark);
}

.main-container {
  background-color: var(--bg);
}

.mid-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.box-logo{
  height: 200px;
  display: flex;
}
.footer{
  height: 100px;
  position: relative;
}

.box-logo > img{
  width: 306px;
  height: 72px;
  margin: auto;
}

.box {
  background-color: var(--card-bg);
  /* height: 654px; */
  margin: 24px 0;
  border-radius: 14px;
  overflow: hidden;
}
.box.image {
display: flex;
}

.title-site {
  font-size: 40px;
}

.infobox{
display: flex;
width: 40%;
}

.box-info-specs {
  color: var(--txt-grey);
  font-size: 25px;
}

.info {
  margin: auto;
  width: 310px;
}

.imagebox {
  position: relative;
  height: 654px;
  width: 60%;
  max-width: 872px;
}
.layers {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.box-info-specs {
  display: flex;
  justify-content: space-between;
  line-height: 200%;
}
.box-info-specs .info-spec-bold {
  font-weight: 700;
}

.modal-FP-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

/* FLOOR PLAN */

.fp-filler {
  height: 50px;
}

.modal-FP-content div {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.modal-FP-content * p {
  font-size: 25px;
  font-weight: 600;
  padding-top: 3%;
}
.modal-FP-content img {
  /* max-height: 59vh; */
  width: 100%;
  max-width: 590px;
  object-fit: cover;
}

/* Summary */

.box.summary {
  height: 980px;
  display: flex;
  flex-direction: column;
}

.sum-tables {
  display: flex;
}

.table {
  flex-grow: 1;
  overflow: auto;
  margin: 5% 5%;
}

/* .sum-category {
  maxwidth: 600px;
} */

.catetory-title{
  display: flex;
  align-items: center;
}

.icon-box {
  height: 55px;
  width: 55px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 20px;
}
img.material {
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.material {
  height: 55px;
  width: 55px;
  background-color: var(--bg);
  margin-right: 20px;
  border-radius: 8px; 
}

.row {
  display: flex;
  background-color: var(--row-bg);
  justify-content: space-evenly;
}

.row div {
  flex: 1;
}

.bloc {
  margin-left: 60px;
}

.bloc div:nth-child(even).row{
  background-color: #fff;
}

.btns {
  width: 90px;
  height: 30px;
  flex-shrink: 0;
  margin: 0 5px;
  cursor: pointer;

  color: var(--txt-dark);
  /* background-color: rgba(red, green, blue, alpha); */
  border: none;
  border-radius: 3px;

  font-size: 15px;
  font-style: normal;
  line-height: normal;
  border: #444444 solid 1px;
}

.pos-header {
  position: absolute;
  top: 30px;
  right: 30px;
}

.pos-footer {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.download {
  background-color: #4A98F3;
  border: none;
  color: var(--bg);
  width: 150px;
  font-size: 15px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.share {
  position: absolute;
  left: 210px;
  bottom: 30px;
}

.blue-btns:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
.price-box {
display: flex;
flex-direction: row-reverse;
}

.pos-box-price {
  width: 500px;
}

.price {
  font-size: 45px;
  line-height: 0%;
}
.price span {
font-weight: 600;
}
.disclimer {
  color: var(--txt-grey);
  line-height: 100%;
  width: 330px;
}